* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  background-color: antiquewhite;
  margin: 20px;
  padding: 20px;
}

h2 {
  margin-top: 10px;
}

.btn-container {
  padding-top: 20px;
}

button {
  padding: 5px;
}
